.App {

}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
  
}

.filter-active {
  background-color: blue;
}

.low {
  color: green;
}

.medium {
  color: goldenrod;
}

.high {
  color: red;
}